.basis-grey{
    width: 100%;
    height: 100%;
    background-color: rgba(234, 254, 253, 0.955);
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.middle{
    max-width: 1248px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
.hat {
    
    text-align: center
    
}
h1 {    
    font-size: 50px;
    line-height: 1;
    font-weight: 600px;
    color: rgb(88, 94, 94);
}
.bookList {
    width: auto;
    background-color: rgba(234, 254, 253, 0.955);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.containerBook{
    background-color: hwb(206 97% 0%);
    border: 2px solid rgb(215, 218, 218);    
    width: 210px;
    height: 400px;
    display: block;
    padding: 20px 40px 20px 40px;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    font-size:13px;

    
}
h2{ font-size: 15px;
    color: rgb(88, 94, 94);
}
.authors{
    color: rgb(88, 94, 94);
    border-radius: 20px;
    background:rgb(208, 247, 238);
    padding: 10px;
}
.image{
    width: 160px;
    height: 176px;

}
.buttons{
    display: flex;
}
.button-chanch{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid rgb(215, 218, 218); 
    background-color: rgba(234, 254, 253, 0.955);
}
.button-delete{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid rgb(215, 218, 218); 
    background-color: rgba(234, 254, 253, 0.955);
}
@media (max-width: 768px) {
    .middle{
        width: auto;
        padding: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    h1{
        font-size: 35px;
    }
    .hat{
        margin-left: auto;
        margin-right: auto;
    }
    .bookList {
        align-content: space-around;
        align-items: center;
        justify-content: space-around;
        
    }
    
    .containerBook{
        width: calc(100%/3);
        margin-top: 10px;
        padding: 10px;
        align-content: space-between;
        justify-content: space-between;

    }


}
@media (max-width: 600px) {
    .containerBook{
    max-width: 210px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    align-content: space-between;
    justify-content: space-between;
    }
    .buttons{
        justify-content: space-between;
    }
}